@font-face {
  font-family: "Sergio";
  src: url("../font/segoeui.ttf"); }
.container {
  width: 100%; }

a {
  color: #9f9f9f; }
  a:hover {
    text-decoration: none;
    color: rgba(249, 43, 52, 0.85); }

.fa-user {
  margin-left: 7px;
  line-height: 0; }

.save-changes {
  margin-top: 20px; }

button:focus, input:focus, .bootstrap-select.btn-group .dropdown-menu li a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus {
  outline: none; }

.btn:focus, .btn:active {
  box-shadow: none;
  border: none; }

.no-margin, body, .green_img, .footer, .copyright {
  margin: 0 auto;
  padding: 0; }

body {
  font-family: Sergio, sans-serif;
  font-size: 14px;
  max-width: 2300px; }

.main {
  margin: 0 auto;
  height: 100%;
  min-height: 600px; }

.main-content {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center; }
  .main-content .container {
    padding: 0; }
    .main-content .container .col-sm-4, .main-content .container .col-md-3, .main-content .container .col-xs-6 {
      padding: 0 3px; }
    .main-content .container .col-xs-12 {
      padding: 0; }

.main-title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: normal; }

.glyphicon-menu-right {
  font-size: 10px; }

button.red_but, button.green_but {
  color: #ffffff;
  font-family: Sergio, sans-serif;
  background: rgba(249, 43, 52, 0.85);
  font-size: 14px;
  text-align: center;
  border-radius: 50px;
  border: none;
  padding: 8px 30px 10px 30px; }
  button.red_but:hover, button.green_but:hover {
    background: rgba(249, 43, 52, 0.9);
    transition: 0.3s; }

button.green_but {
  background: #00a99e; }
  button.green_but:hover {
    background: rgba(0, 169, 157, 0.8);
    transition: 0.3s; }

.provider-act-addprop {
  color: #5dd9ed;
  font-weight: bold; }

input.main_inp, textarea.main_inp {
  width: 100%;
  padding: 8px;
  margin: 3px 0;
  border-radius: 2px;
  border: 1px solid #e7e7e7;
  font-family: Sergio, sans-serif; }
  input.main_inp:focus, textarea.main_inp:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #00a99e; }

.green_chapt {
  width: 100%;
  background-color: #00a99e;
  padding: 8px 15px;
  margin: 0 0 10px 0;
  color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .green_chapt .glyphicon {
    margin-right: 5px; }

.green_chapt-zag {
  font-weight: bold;
  width: 49.5%;
  display: inline-block; }

.green_chapt-edit {
  text-align: right;
  width: 49.5%;
  display: inline-block;
  color: #ffffff; }
  .green_chapt-edit:hover {
    color: #ffffff;
    text-decoration: underline; }
  .green_chapt-edit i {
    margin-right: 5px; }

@media (max-width: 690px) {
  .green_chapt-zag {
    width: 48%; } }
@media (max-width: 400px) {
  .green_chapt-edit i {
    display: none; } }
.prof-left {
  padding-left: 0; }

.profile_menu {
  border-radius: 5px;
  width: 100%;
  margin: 0 0 20px 0; }
  .profile_menu i {
    color: #00a99e;
    font-size: 15px;
    padding-right: 3px; }

.prof_m_head {
  background-color: #f92b34;
  color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 8px 10px;
  font-weight: bold; }

.prof_m_paragr {
  background-color: rgba(231, 231, 231, 0.59);
  border-bottom: 1px solid #e7e7e7;
  padding: 13px 10px;
  border-radius: 0;
  color: #363636; }
  .prof_m_paragr .last {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
  .prof_m_paragr i {
    padding-right: 8px; }
  .prof_m_paragr:hover {
    background-color: #e5e5e5;
    transition: 0.3s; }

.active-menu {
  font-weight: bold;
  border-radius: 0; }

.block_img {
  margin: 3px;
  padding: 0;
  cursor: pointer;
  position: relative;
  display: none; }
  .block_img:hover .block_img_black {
    display: block; }
  .block_img:hover .img_bottom {
    opacity: 0; }

.hot, .price {
  position: absolute;
  top: 10px;
  margin-left: 8px;
  padding: 3px 12px;
  border-radius: 15px;
  background-color: #f92b34;
  color: #ffffff; }

.price {
  background-color: #00a99e;
  padding: 5px 13px;
  font-size: 14px;
  top: 15px;
  left: 10px;
  margin-left: 0; }

.img_bottom {
  background-color: #e7e7e7;
  padding: 15px 5px; }

.img_bottom_text {
  display: inline-block;
  width: 49%;
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  color: #363636; }

.img_bottom_cost {
  text-align: right;
  display: inline-table;
  vertical-align: top;
  width: 49%; }

.cost {
  padding: 6px 8px;
  background-color: #f92b34;
  color: #ffffff;
  border-radius: 15px; }

.block_img_black {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  padding: 15px 20px;
  color: #ffffff;
  font-size: 12px;
  display: none; }

.block_img_bl_first {
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 8px;
  margin-bottom: 8px;
  width: 100%; }
  .block_img_bl_first table tr td {
    padding: 0 5px; }
  .block_img_bl_first i {
    color: #f92b34;
    padding-right: 3px; }

.block_img_bl_second {
  text-align: left; }

.img-wrapp {
  overflow: hidden; }

table.about_table {
  padding: 0;
  width: auto; }
  table.about_table tr td {
    padding: 3px 0; }
    table.about_table tr td a {
      color: #363636; }
  table.about_table tr td.green_ab_t {
    color: #00a99e;
    font-weight: bold;
    padding-right: 8px;
    vertical-align: top; }

.img-student {
  float: right;
  width: auto;
  max-height: 200px;
  max-width: 200px; }

@media (max-width: 690px) {
  .about-side, .about-side-img, .small-statistic {
    width: 100%; }

  .img-student {
    float: none;
    text-align: left;
    margin-top: 10px; } }
.modal-dialog {
  margin-top: 100px; }

.modal-header {
  border-bottom: 1px solid #e7e7e7;
  width: 100%;
  padding: 10px 25px 5px 25px; }
  .modal-header h4 {
    font-size: 18px;
    color: #00a99e;
    padding: 0; }

.modal-content {
  width: 100%;
  margin: 0 auto;
  text-align: left; }

.modal-body {
  margin-top: 0; }

@media (max-width: 750px) {
  .modal-content {
    width: 90%;
    margin-top: 100px; } }
.but-nish {
  width: 100%;
  margin: 20px auto;
  text-align: center; }

.green_img {
  cursor: pointer;
  position: relative; }

.green_img_bot {
  overflow: hidden;
  padding: 15px 20px;
  color: #ffffff;
  background: #00a99d;
  text-align: left;
  line-height: 15px; }
  .green_img_bot h2 {
    padding: 0 0 5px 0;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-align: left; }

.green_img_top {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  background-color: rgba(0, 169, 157, 0.8);
  padding: 9px 9px 9px 20px;
  color: #ffffff;
  width: 100%;
  border-bottom: 1px solid #ffffff; }
  .green_img_top table {
    width: 100%; }
    .green_img_top table tr td {
      padding-right: 0;
      vertical-align: top; }
  .green_img_top i {
    color: #f92b34;
    padding-right: 5px; }

.gr_img:hover .green_img_bot {
  background-color: #f92b34; }
.gr_img:hover .price {
  background-color: rgba(249, 43, 52, 0.85); }
.gr_img:hover .green_img_top {
  background-color: rgba(249, 43, 52, 0.85); }
  .gr_img:hover .green_img_top i {
    color: #ffffff; }

/*footer */
/*header-propose-image */
.cont, .cont-img, .cont-red {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  margin: 5px;
  cursor: pointer;
  color: #898989; }
  .cont .data-inf, .cont-img .data-inf, .cont-red .data-inf {
    padding: 5px 25px; }
  .cont .data-inf-cont, .cont-img .data-inf-cont, .cont-red .data-inf-cont {
    display: inline-block;
    width: 45%;
    font-size: 12px;
    margin-bottom: 5px; }
  .cont i, .cont-img i, .cont-red i {
    margin-right: 3px;
    color: #f92b34; }
  .cont table, .cont-img table, .cont-red table {
    width: 80px; }
    .cont table td, .cont-img table td, .cont-red table td {
      vertical-align: top; }
  .cont h2, .cont-img h2, .cont-red h2 {
    color: #363636;
    font-weight: bold;
    font-size: 15px;
    padding: 0 25px;
    text-align: left; }
  .cont p, .cont-img p, .cont-red p {
    font-size: 12px;
    padding: 0 25px; }
  .cont:hover .data-inf, .cont-img:hover .data-inf, .cont-red:hover .data-inf {
    background-color: rgba(249, 43, 52, 0.85);
    color: #ffffff;
    transition: 0.3s; }
  .cont:hover i, .cont-img:hover i, .cont-red:hover i {
    color: #ffffff;
    transition: 0.3s; }

.cont-img {
  position: relative;
  overflow: hidden;
  height: 500px; }
  .cont-img img {
    height: 100%; }
  .cont-img h3 {
    padding: 20px;
    margin: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .cont-img:hover h3 {
    background-color: white;
    color: rgba(249, 43, 52, 0.85);
    text-shadow: none; }

.cont-red {
  background-color: orange;
  color: #ffffff; }
  .cont-red .cont-back-icon {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    padding-top: 25px; }
  .cont-red h2, .cont-red i {
    color: white; }
  .cont-red:hover .cont-back-icon i {
    color: white; }
  .cont-red:hover .data-inf {
    background-color: #ffffff;
    color: orange; }
  .cont-red:hover i {
    color: orange; }

.right-panel {
  padding: 0; }
  .right-panel .row {
    margin: 0; }

/*/header-propose */
/*footer */
.footer {
  width: 100%;
  background-color: #252525;
  color: #9f9f9f;
  line-height: 25px; }
  .footer ul {
    list-style: none;
    padding: 0; }

.footer-wrap {
  width: 70%;
  margin: 0 auto; }

.footer-ul-top {
  font-weight: bold;
  color: #c9c8c8; }

.foot-sec ul li.footer-ul-top:hover {
  color: #c9c8c8; }

.footer-icon {
  padding-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  cursor: pointer; }

.footer-sn {
  text-align: center;
  font-size: 15px;
  color: #c9c8c8;
  margin: 30px 0 40px 0; }

.social-act {
  display: none; }

.social, .social-act {
  margin: 0 8px;
  opacity: 0.8;
  width: 18px; }

.footer-sn a:hover .social {
  display: none; }

.footer-sn a:hover .social-act {
  display: inline-block; }

.copyright {
  text-align: center;
  font-size: 11px;
  color: #9f9f9f;
  padding-bottom: 30px; }

.small-menu {
  padding: 0 15px;
  margin: 0;
  display: none;
  width: 100%; }

.small-name {
  padding: 0 0 5px 0;
  color: #f92b34;
  font-size: 16px;
  font-weight: bold; }

.icons-small-menu {
  padding: 0 0 8px 0;
  width: 100%;
  line-height: 25px;
  border-bottom: 1px solid #e5e5e5; }
  .icons-small-menu i {
    font-size: 12px; }
    .icons-small-menu i span {
      margin-right: 8px;
      font-family: "Segio", serif;
      font-size: 14px;
      margin-left: 4px; }
    .icons-small-menu i:hover {
      color: rgba(249, 43, 52, 0.85); }

.act-small-menu {
  color: rgba(249, 43, 52, 0.85); }

.line button {
  margin: 0;
  padding: 3px 0 5px 0;
  background-color: #00a99e;
  border: none;
  width: 100%;
  border-radius: 30px;
  color: white;
  font-size: 13px; }
  .line button:hover {
    background-color: rgba(249, 43, 52, 0.85);
    transition: 0.3s; }
  .line button .fa-times-circle-o {
    margin-right: 5px; }

.del-line {
  padding-left: 15px; }
  .del-line .col-sm-2, .del-line .col-xs-5 {
    padding-left: 0; }
  .del-line .col-sm-10, .del-line .col-xs-7 {
    padding: 0; }

.del-line hr {
  border-top: 1px solid #00a99e;
  margin-top: 13px; }

@media (max-width: 1253px) {
  .foot-main {
    width: 100%;
    margin-bottom: 30px; }

  .foot-sec {
    width: 33%; } }
@media (max-width: 893px) {
  .footer-wrap {
    width: 80%; } }
@media (max-width: 745px) {
  .foot-sec {
    width: 100%; } }
@media (max-width: 965px) {
  .prof-left {
    display: none; }

  .right-panel {
    width: 100%; }

  .small-menu {
    display: inline-block;
    margin-bottom: 15px; }

  .small-statistic {
    display: inline-block; } }
/*/footer */
@font-face {
  font-family: Segio;
  src: url(../font/segoeui.ttf); }
.glyphicon {
  line-height: 0; }

.in-menu {
  width: 70%;
  margin: 0 auto; }

.nav-back {
  background-color: #36373a;
  width: 100%;
  padding: 0;
  margin: 0 auto; }

.navigation {
  float: right; }

.navigation nav ul li a {
  font-size: 14px;
  font-family: Segio, serif;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 23px 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s; }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background: rgba(0, 0, 0, 0.5); }

.nav > li a:focus {
  background: none; }

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 0; }

#search input[type="text"] {
  background: url(../img/search.png) no-repeat 10px 10px;
  border: 0 none;
  font: 14px Segio, serif;
  color: white;
  width: 5px;
  margin-top: 16px;
  margin-right: -10px;
  cursor: pointer;
  padding: 8px 20px 8px 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s; }
  #search input[type="text"]:focus {
    width: 200px;
    background-color: #63656a;
    color: white; }

@media (max-width: 768px) {
  .navigation nav ul {
    padding-bottom: 0;
    overflow-y: auto; }

  #search input[type="text"] {
    background: url(../img/search.png) no-repeat 20px 15px !important;
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    margin-top: 0 !important;
    padding: 15px 20px 15px 45px !important;
    border-radius: 0 !important; } }
.navigation nav ul li ul li {
  display: block; }
  .navigation nav ul li ul li a {
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-family: Segio, serif;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
    padding: 8px 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s; }
    .navigation nav ul li ul li a:hover {
      color: #00a99d; }
  .navigation nav ul li ul li:hover {
    width: 100%;
    background: rgba(0, 0, 0, 0.7); }

.drop-glyp {
  margin-right: 10px;
  font-size: 14px; }

.smobitrigger {
  color: #fff;
  opacity: 0.8;
  margin-top: 8px; }
  .smobitrigger:hover {
    color: #fff;
    opacity: 1;
    transition: 0.3s; }

div#page {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px; }

.back-to-top {
  position: fixed;
  bottom: 2em;
  right: 0;
  text-decoration: none;
  color: #000000;
  background-color: rgba(235, 235, 235, 0.8);
  font-size: 14px;
  padding: 1em;
  display: none; }
  .back-to-top:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #00a99d;
    transition: 0.2s; }
  .back-to-top:focus {
    border: none;
    outline: none; }

@media (max-width: 930px) {
  .in-menu {
    width: 90%; } }
@media (min-width: 769px) {
  .mobimenu {
    background: none !important; }

  .navigation nav ul li a {
    color: #fff !important; }
    .navigation nav ul li a:hover {
      color: #00a99d !important; }

  .navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: rgba(0, 0, 0, 0.5) !important;
    padding: 5px 0; } }
@media (max-width: 768px) {
  .mnuopn a {
    font-size: 14px;
    font-family: "Segio", serif; }
    .mnuopn a:hover {
      width: 100%;
      background-color: rgba(18, 96, 91, 0.8) !important; }

  .mnuclose {
    background-color: #4c4c4c; }

  .navigation nav ul li a {
    padding: 15px 20px; } }
@media (min-width: 768px) and (max-width: 769px) {
  .navbar-nav > li > .dropdown-menu {
    min-height: 120px; } }

/*# sourceMappingURL=style-provider-design.css.map */
